creational/singleton/log.txt
creational/singleton/LoggerSingleton.class
creational/singleton/LoggerSingletonTest.class


creational/factory_method/Notification.class
creational/factory_method/EmailFactories.class
creational/factory_method/SMSFactories.class
creational/factory_method/EmailNotification.class
creational/factory_method/SMSNotification.class
creational/factory_method/Main.class
creational/factory_method/NotificationFactory.class

creational/builder/User.class
creational/builder/User$Builder.class
creational/builder/Main.class

creational/prototype/User.class
creational/prototype/Prototype.class
creational/prototype/Main.class

creational/abstract_factory/Interface.class
creational/abstract_factory/SolNodeProvider.class
creational/abstract_factory/EvmNodeProvider.class
creational/abstract_factory/SolWalletProvider.class
creational/abstract_factory/EvmWalletProvider.class
creational/abstract_factory/BlockchainProviderFactory.class
creational/abstract_factory/WalletProvider.class
creational/abstract_factory/SolanaProviderFactory.class
creational/abstract_factory/EvmProviderFactory.class
creational/abstract_factory/Main.class

structural/adapter/EvmLikeNode.class
structural/adapter/EvmRpcClient.class
structural/adapter/SolanaSdk.class
structural/adapter/SolanaToEvmAdapter.class
structural/adapter/Main.class


structural/bridge/EvmNode.class
structural/bridge/SolanaNode.class
structural/bridge/Main.class
structural/bridge/NativeTransfer.class
structural/bridge/NodeImplementor.class
structural/bridge/TokenTransfer.class
structural/bridge/TransactionBridge.class

structural/composite/Main.class
structural/composite/PortfolioComponent.class
structural/composite/TokenHolding.class
structural/composite/WalletComposite.class


structural/decorator/EvmNode.class
structural/decorator/LoggingDecorator.class
structural/decorator/Main.class
structural/decorator/Node.class
structural/decorator/NodeDEcorator.class
structural/decorator/RetryDecorator.class


structural/facade/Blockchainfacade.class 
structural/facade/EvmNode.class 
structural/facade/Main.class 
structural/facade/Node.class 
structural/facade/SolanaNode.class

structural/flyweight/Main.class
structural/flyweight/TokenFactory.class
structural/flyweight/TokenMetadata.class
structural/flyweight/WalletBalance.class

structural/proxy/Main.class 
structural/proxy/Node.class 
structural/proxy/ProxyNode.class 
structural/proxy/RealEvmNode.class 
